$primary: #90ee90;
$error: #ff0f00;
// $primary: #a390ee;

@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shownhide {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.poll-view {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    position: relative;
    transition: all 0.2s ease-in-out;
    border-top: 6px solid $primary;
    &__title {
        text-align: center;
        font-size: 32px;
        font-weight: 500;
    }
    &__inner {
        padding: 16px;
    }
    &__help {
        font-size: 24px;
        padding-bottom: 10px;
    }
    &__question {
        padding-bottom: 15px;
        input {
            box-sizing: border-box;
            background-color: transparent;
            width: 100%;
            color: #333;
            border: 2px solid #4e4c4b8f;
            border-radius: 0px;
            padding: 5px 40px 5px 10px;
            line-height: 30px;
            font-size: 30px;
            transition: border 0.2s ease-in-out;
            &:focus {
                outline: none;
                border: 2px solid darken($primary, 10%);
            }
        }
    }
    &__votes {
        .answer {
            padding-bottom: 5px;
            display: block;
            position: relative;
            background-color: #fff;
        }
    }
    &__answers {
        .answer {
            animation-name: popup;
            animation-duration: 1s;
            padding-bottom: 5px;
            display: block;
            position: relative;
            background-color: #fff;
            .delete {
                position: absolute;
                bottom: 10px;
                right: 0;
                background-color: #fff;
                color: $error;
                font-weight: 500;
                line-height: 14px;
                font-size: 14px;
                &:hover {
                    cursor: pointer;
                }
            }
            input {
                box-sizing: border-box;
                background-color: transparent;
                width: 100%;
                color: #333;
                border: none;
                border-bottom: 1px solid #4e4c4b8f;
                border-radius: 0px;
                padding: 5px 40px 5px 10px;
                line-height: 24px;
                font-size: 24px;
                transition: border 0.2s ease-in-out;
                &:focus {
                    outline: none;
                    border-bottom: 3px solid $primary;
                }
            }
        }
    }
    &__options {
        padding: 16px;
    }
    &__results {
        padding: 16px;
        .title {
            font-size: 24px;
            .percent {
                font-size: 16px;
            }
            .votes {
                font-size: 16px;
            }
        }
        .bar {
            width: 100%;
            height: 20px;
            background-color: #eee;
            position: relative;
            div {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 99;
                background-color: $primary;
                bottom: 0;
            }
        }
    }
    &__submit {
        text-align: center;
        padding: 16px;
        button {
            color: #fff;
            background-color: $primary;
            border: 1px solid lighten($primary, 15%);
            padding: 10px 16px;
            font-size: 30px;
            transition: background-color 0.2s ease-in-out;
            &:hover {
                cursor: pointer;
                background-color: darken($primary, 15%);
            }
        }
    }
    &__info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        animation-name: shownhide;
        animation-duration: 3s;
        &.success {
            background-color: lighten($primary, 20%);
            div {
                color: darken($primary, 30%);
            }
        }
        &.error {
            background-color: lighten($error, 20%);
            div {
                color: darken($error, 30%);
            }
        }
        div {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            background-color: #fff;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            font-size: 24px;
            line-height: 100px;
        }
    }
    .checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            &:after {
                content: "";
                position: absolute;
                display: none;
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        &:hover {
            input ~ .checkmark {
                background-color: #ccc;
            }
        }
        input:checked ~ .checkmark {
            background-color: $primary;
            &:after {
                display: block;
            }
        }
    }
}
